Tiny Bubbles/force-app/main/default/flows/Suggest_a_brewery.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Brewery_to_Lead</name>
        <label>Brewery to Lead</label>
        <locationX>248</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>SuggestedBrewery.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SuggestedBrewery.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SuggestedBrewery.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Website.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SuggestedBrewery.Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SuggestedBrewery.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SuggestedBrewery.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SuggestedBrewery.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Suggest a brewery {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Suggest a brewery</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>345</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Thanks_for_the_suggestion</targetReference>
        </connector>
        <inputReference>SuggestedBrewery</inputReference>
    </recordCreates>
    <screens>
        <name>Suggest_a_Brewery</name>
        <label>Suggest a Brewery</label>
        <locationX>148</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Brewery_to_Lead</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone</name>
            <fieldText>Phone</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Website</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thanks_for_the_suggestion</name>
        <label>Thanks for the suggestion.</label>
        <locationX>449</locationX>
        <locationY>47</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Suggest_a_Brewery</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SuggestedBrewery</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
